* {
    box-sizing: border-box;
}

@font-face {
    font-family: Rubik;
    src: url(Rubik-Regular.ttf);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    width: 99%;
    height: 98vh;
    position: relative;
    display: grid;
    place-content: center;
    font-family: Rubik;
    background-color: hsl(226, 43%, 10%);
}

.timetrack {
    display: grid;
}

.timetrack .main {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    overflow: hidden;
}

.timetrack .main .top {
    width: 100%;
    border-radius: 15px;
    background-color: hsl(246, 80%, 60%);
    padding: 30px;
    display: flex;
}

.timetrack .main .top img {
    border: 2px white solid;
    border-radius: 50%
}

.timetrack .main .top span {
    color: rgb(189, 193, 255);
    font-size: 15px;
}

.timetrack .main .top p {
    font-weight: lighter;
    color: white;
    margin-top: 0;
}

.timetrack .main .bottom {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.4);
    transition: 0.5s;
    cursor: pointer;
}

.timetrack .main .bottom div:hover,
.timetrack .main .bottom div.active {
    color: white;
}


/* Cards */

.timetrack .card {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.timetrack .card[data-name="work"] {
    background-image: linear-gradient(to bottom, hsl(15, 100%, 70%)0%, hsl(15, 100%, 70%)25%, transparent 25%);
}

.timetrack .card[data-name="play"] {
    background-image: linear-gradient(to bottom, hsl(195, 74%, 62%)0%, hsl(195, 74%, 62%)25%, transparent 25%);
}

.timetrack .card[data-name="study"] {
    background-image: linear-gradient(to bottom, hsl(348, 100%, 68%)0%, hsl(348, 100%, 68%)25%, transparent 25%);
}

.timetrack .card[data-name="exercise"] {
    background-image: linear-gradient(to bottom, hsl(145, 58%, 55%)0%, hsl(145, 58%, 55%)25%, transparent 25%);
}

.timetrack .card[data-name="exercise"] img {
    top: 0px;
}

.timetrack .card[data-name="social"] {
    background-image: linear-gradient(to bottom, hsl(264, 64%, 52%)0%, hsl(264, 64%, 52%)25%, transparent 25%);
}

.timetrack .card[data-name="selfcare"] {
    background-image: linear-gradient(to bottom, hsl(43, 84%, 65%)0%, hsl(43, 84%, 65%)25%, transparent 25%);
}

.timetrack .card img {
    position: absolute;
    top: -10px;
    right: 15px;
}

.timetrack .card .btm {
    background-color: hsl(235, 46%, 20%);
    width: 100%;
    height: 81%;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timetrack .card .btm:hover {
    background-color: rgb(111, 118, 200);
}

.timetrack .card .btm .name {
    color: white;
    font-size: 18px;
    position: relative;
}

.timetrack .card .btm .name img {
    position: absolute;
    top: 40%;
    cursor: pointer;
    opacity: 0.5;
}

.timetrack .card .btm .name img:hover {
    opacity: 1;
}

.timetrack .card .btm .content {
    font-weight: 500;
    font-size: 40px;
    color: white;
    text-align: center;
    align-self: flex-start;
}

.timetrack .card .btm .foot {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

@media only screen and (min-width : 500px) {
    .timetrack {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        width: 1112px;
        height: 519px;
    }

    .timetrack .main {
        grid-area: 1/1/3;
    }

    .timetrack .main .top {
        height: 68.6%;
        flex-direction: column;
    }

    .timetrack .main .top img {
        width: 86px;
        height: 86px;
    }

    .timetrack .main .top span {
        margin-top: 40px;
    }

    .timetrack .main .top p {
        font-size: 40px;
    }

    .timetrack .main .bottom {
        flex-direction: column;
    }

    .timetrack .card .btm {
        padding: 25px;
    }
}

@media only screen and (max-width : 375px) {
    .timetrack {
        grid-template-columns: 1fr;
        grid-template-rows: 200px repeat(6, 1fr);
        gap: 24px;
        width: 325px;
        height: 1305px;
    }

    .timetrack .main .top {
        flex-direction: row;
        position: relative;
        align-items: flex-end;
        gap: 10px;
    }

    .timetrack .main .top img {
        width: 70px;
        height: 70px;
    }

    .timetrack .main .top span {
        position: absolute;
        top: 40px;
        right: 145px;
    }

    .timetrack .main .top p {
        font-size: 20px;
    }

    .timetrack .main .bottom {
        flex-direction: row;
        justify-content: space-around;
    }

    .timetrack .card .btm {
        padding: 15px;
        padding-left: 20px;
    }

    .timetrack .card .btm .foot {
        position: absolute;
        bottom: 20px;
        right: 18px;
    }
}